* {
  box-sizing: border-box;
}

/*------------------------------------
    FONTS
 ------------------------------------*/

@font-face {
  font-family: "Archivo", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Archivo:wght@900&display=swap");
}

@font-face {
  font-family: "Source Code Pro", monospace;
  src: url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
}

body {
  color: #ff5f2d;
  font-family: "Source Code Pro", monospace;
  font-size: 1em;
  line-height: 1.5;
}

h1,
h2 {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: justify;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 2vh 0 2vh 0;
}

h2 {
  font-size: 1rem;
}

p {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  text-align: justify;
  letter-spacing: 0.05em;
}

nav a {
  font-family: "Archivo", sans-serif;
  color: #00595f;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
}

a {
  color: #00595f;
  text-decoration: none;
}

/*END FONTS*/

header {
  background-color: #fffdf5;
  position: fixed;
  top: 0;
  left: 0;
  max-height: 5vh;
  width: 100%;
  margin-left: 0%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ff5f2d;
}

.right {
  padding: 4vh 2vh 2vh 2vh;
  width: 65%;
  height: auto;
  background-color: #fffdf5;
  float: right;
  left: 0;
}

.left {
  position: sticky;
  top: 3vh;
  padding: 6vh 2vh 3vh 4vh;
  color: #00595f;
  z-index: -1;
  width: 35%;
  height: 100vh;
  background-color: #e5fff1;
}

.column.left {
  border-right: 2px solid #ff5f2d;
}

.column {
  float: left;
}
/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* SIZING PROFILE IMG */

.profile {
  max-width: 50%;
  position: top;
  left: 0%;
  transform: translateX(50%);
  object-fit: cover;
  border-radius: 10%;
  border: 2px solid #ff5f2d;
}

/* formatting the socials  */
/******** TROUBLE FILLING COLOUR  **********/

img.social {
  width: 2vw;
  padding: 0.2vw;
  float: left;
  display: inline;
  vertical-align: text-top;
  fill: #00595f;
}

ul {
  padding-left: 20px;
}

.video-block {
  border: 2px solid #ff5f2d;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3vh;
  overflow-x: auto;
}

video {
  display: flex;
  justify-content: space-between;
  max-width: 40vw;
  width: 100%;
  max-height: 40vh;
  margin: auto;
  padding: 5%;
  background-color: #fffdf5;
}

iframe.embedded-vid {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

form {
  margin-bottom: 2vh;
}

form div {
  padding: 2%;
}
section.form {
  border: 2px solid #ff5f2d;
}
section.form h2 {
  padding-left: 2vw;
  transition: 0.5s;
}

section.form h2:hover {
  background-color: #00595f;
  transition: all;
}

section.form div button {
  color: #e5fff1;
  background-color: #00595f;
  padding: 2%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

  transition: 0.5s;
}

section.form div button:hover {
  color: #ff5f2d;
  background-color: #e5fff1;
  transition: all;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 5vh;
  width: 100%;
  margin-left: 0%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00595f;
  border-top: 2px solid #ff5f2d;
}

/* RESPONSIVE MEDIA QUERIES */

@media screen and (max-width: 800px) {
  .column {
    width: 100%;
  }
}
